.banner {
  background: whitesmoke;
  height: 300px;

  .banner-title {
    font-size: 30px;
  }

  @media (max-width: $mobile) {
    height: 150px;
    padding: 70px 0;
  }

  h2 {
    color: $white;
    text-align: center;
    font-size: 3rem;
    font-family: "Nunito", sans-serif;

    @media (max-width: $mobile) {
      font-size: 3rem;
    }
  }
}
