.banner {
  background: #fbf9f8;
  // height: 400px;
  display: flex;
  flex-direction: column;
  height: 70%;

  .banner-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 200px;
    position: relative;
    z-index: 1;

    .banner-title {
      color: #4b88a2;
      font-size: 30px;
    }

    // br {
    //   line-height: 2.6rem;
    // }

    .banner-text {
      // text-align: center;
      color: grey;
      font-size: 15px;
      line-height: 2.6rem;
      padding-top: 20px;
      // padding: 20px 20% 10px 20%;

      span {
        color: $red;
      }
    }
  }

  .banner-categories {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    // background-image: url("../images/white-waves.png");
    .banner-img {
      width: 90px;
      height: 90px;
    }
  }

  @media (max-width: $mobile) {
    height: 150px;
    padding: 70px 0;
  }

  h2 {
    color: $white;
    text-align: center;
    font-size: 3rem;
    font-family: "Nunito", sans-serif;

    @media (max-width: $mobile) {
      font-size: 3rem;
    }
  }
}

// Carousel

.banner-carousel {
  margin: 0px auto 50px auto;
  // background: whitesmoke;
  overflow: visible;
  // padding: 30px !important;

  .slideimg-container {
    // background: white;
    padding-bottom: 30px;
  }

  // .slideimg {
  //   height: 150px;
  //   width: 150px;
  // }

  .slide {
    // &:hover {
    //   cursor: pointer;
    // }
    margin-bottom: 40px !important;
    style {
      min-width: 50%;
    }
    height: 160px;
    width: 160px;
  }

  li.slide {
    // background: whitesmoke;
  }
}
li {
  background-color: transparent;
}

.slide {
  background: transparent !important;
}

ul.control-dots {
  margin-top: 30px !important;
  // margin-left: 20px !important;
}

li.slide.selected {
  margin-top: -20px !important;
  // transition: width 2s, height 4s;
  // min-width: 36% !important;

  // height: 300px !important;
  // min-width: 35% !important;
  // height: 20px;
}

.slider-wrapper {
  padding-top: 20px;
}

.banner-two {
  height: 250px;
  background: url("../images/brickwall.png");
}
