.bottom-content {
  // .bottom-btn {
  //   text-align: center;
  //   margin-top: 20%;
  // }

  .bottom-banner {
    background: $blue;
    padding: 40px;
    text-align: center;
    font-size: 25px;
    // height: 300px;
    width: 100%;

    text-align: center;
    box-shadow: 0 5px 3px 0px rgba(0, 0, 0, 0.2);
    // position: relative;
    // z-index: 5;

    span {
      color: $red;
    }
    h2 {
      // font-family: "Sakura", serif !important;
      font-family: "friday";
      // font-weight: lighter;

      border-radius: 5px;
      padding: 10px;
      margin: 0 auto;
      // width: 50%;
      // background: white;
      text-align: center;
      // font-family: "Nunito", sans-serif;

      font-size: 60px;
      color: $snow;
      // padding: 20px;
      text-align: center;
    }
  }

  .bottom-container {
    // height: 35px;
    background: white;
    padding: 40px 5%;
  }

  .bottom-btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .bottom-btn1 {
    // margin-top: 300px;
    // margin: 370px auto 0 auto;
    height: 45px;
    width: 200px;
    // padding: 15px;
    // width: 15;
    background: firebrick;
    // opacity: 0.9;
    color: $white;
    font-size: 2rem;
    font-family: "Nunito", sans-serif;
    font-weight: bold;

    text-align: center;
    // // margin-top: 80px;
    // align-self: flex-end;

    // transform: translateX(-50%) translateY(-50%);
    border: none;
    border-radius: 5px;

    // .button-maker(@white, @blue);

    @media (max-width: $mobile) {
      padding: 10px 100px;
    }
  }

  h4 {
    font-size: 3rem;
    text-align: center;
  }

  .bottom-title {
    color: #4b88a2;
    font-size: 30px;
    padding: 20px;
  }

  .bottom-text h5 {
    font-size: 16px;
    padding-left: 15%;
    padding-right: 15%;
  }

  .quotes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-between; */
    padding-top: 20px;
    padding-bottom: 20px;

    .bottom-quotes {
      text-align: left;
      padding: 10px;
    }

    .info-wrapper {
      margin-top: 15px;
      display: flex;
      flex-direction: row;
    }

    .bottom-img {
      width: 50px;
      height: 50px;
    }

    .bottom-name {
      color: grey;
      margin-left: 15px;
      font-size: 16px;
      font-weight: bold;
      align-self: center;
    }
  }
}
