.bottom-content {
  .underline2 {
    background: url("../images/underline6.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 60px;
  }

  .bottom-banner {
    background: $blue;
    padding: 40px;
    text-align: center;
    font-size: 25px;

    width: 100%;

    text-align: center;
    box-shadow: 0 5px 3px 0px rgba(0, 0, 0, 0.2);

    h2 {
      font-family: "friday";
      border-radius: 5px;
      padding: 10px;
      margin: 0 auto;
      text-align: center;
      font-size: 60px;
      color: $snow;
      text-align: center;
    }
  }

  .bottom-container {
    background: white;
    padding: 5% 8%;
  }

  .bottom-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    @media (max-width: $mobile) {
      a {
        width: 300px;
        height: 60px;
      }
    }
  }

  .bottom-btn1 {
    text-transform: uppercase;
    height: 45px;
    width: 250px;
    background: firebrick;
    color: $white;
    font-size: 1.6rem;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;

    @media (max-width: $mobile) {
      padding: 10px 100px;
    }
  }

  h4 {
    font-size: 3rem;
    text-align: center;
  }

  .bottom-title {
    color: black;
    font-size: 3.5rem;
    padding: 20px;
  }

  .bottom-text h5 {
    font-size: 16px;
    padding-left: 15%;
    padding-bottom: 20px;
    padding-right: 15%;
  }

  .quotes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;

    .bottom-quotes {
      text-align: left;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      padding: 10px;

      h5 {
        font-family: "Proxima";
        font-size: 14px;
      }
    }

    .info-wrapper {
      margin-top: 15px;
      display: flex;
      flex-direction: row;
    }

    .bottom-img {
      width: 50px;
      height: 50px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 99em;
      border: 2px solid #eee;
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
    }

    .bottom-name {
      color: black;
      margin-left: 15px;
      font-size: 16px;
      font-weight: bold;
      align-self: center;
    }

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
    }
  }
}
