* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open-Sans", sans-serif;
}

h3 {
  text-decoration: underline;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  max-width: 1680px;
  margin: 0 auto;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.8);

  @media (max-width: $mobile) {
    width: 100%;
    margin: 0 auto;
  }
}

//Page fade in
body {
  transition: all 0.7s linear;
  // background: rgba(0, 0, 0, 0.4);
  background-image: url("../images/background3.jpg");
  background-size: contain;
  // background-repeat: no-repeat;
}
.loading {
  opacity: 0;
  visibility: hidden;
}
