* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: "Proxima", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "ProximaBold", sans-serif;
}

h2 {
  font-size: 3.5rem;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.main-container {
  // margin-top: -100px;
  width: 80%;
  // max-width: 1680px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);

  @media (max-width: $mobile) {
    width: 100%;
    margin: 0 auto;
  }
}

//https://img4.goodfon.com/original/1920x1200/6/94/abstraktsiia-geometriia-kvadraty-blue-squares-background-geo.jpg
//Page fade in
body {
  transition: all 0.7s linear;
  // background: rgba(0, 0, 0, 0.4);
  background: url("../images/blue4.jpg");
  background-size: 80% 100%;

  // background-position: bottom;
  background-repeat: repeat-x;
  background-attachment: fixed;
}
.loading {
  opacity: 0;
  visibility: hidden;
}
