.middle-content {
  background-image: url("../images/brickwall.png");
  // background-color: gainsboro;
  // background-size: 100% 100%;
  // background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  // padding: 30px 5%;
  margin: 0 auto;
  // border-top: 2px solid $light-gray;
  padding-bottom: 40px;
  // padding-top: 60px;

  .ribbon {
    // padding: 20px;
    height: 120px;
    position: relative;
    margin-bottom: 30px;
    background: white;
    background-size: cover;
    // text-transform: uppercase;
    color: white;
  }

  .ribbon5 {
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    width: calc(100% + 20px);
    height: 100px;
    line-height: 50px;
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;

    background: rgb(56, 136, 167);
    background: linear-gradient(
      90deg,
      rgba(56, 136, 167, 1) 0%,
      rgba(56, 136, 167, 1) 6%,
      rgba(211, 224, 232, 1) 21%,
      rgba(211, 224, 232, 1) 79%,
      rgba(56, 136, 167, 1) 94%,
      rgba(56, 136, 167, 1) 100%
    );
    position: relative;
    top: 20px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.3);
  }
  .ribbon5:before,
  .ribbon5:after {
    content: "";
    position: absolute;
  }
  .ribbon5:before {
    height: 0;
    width: 0;
    bottom: -10px;
    left: 0;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
  }
  .ribbon5:after {
    height: 0;
    width: 0;
    right: 0;
    bottom: -10px;
    border-top: 10px solid white;
    border-right: 10px solid transparent;
  }

  .middle-header {
    position: relative;
    background: $light-blue;
    // padding: 40px;
    text-align: center;
    font-size: 25px;

    text-align: center;
    // box-shadow: 0 5px 3px 0px rgba(0, 0, 0, 0.2);
    // position: relative;
    // z-index: 5;

    .shadow-box {
      border-top: 1.5px dashed white;
      border-bottom: 1.5px dashed white;
      height: 100%;
    }

    .shadow-box .content {
      margin: 0 auto;
      // letter-spacing: -5px;
      // display: table-cell;
      // vertical-align: middle;
      // padding: 20px;
      font-weight: bold;
      height: 100%;
      font-size: 3em;
      text-align: center;
    }

    span {
      color: $red;
    }
    h2 {
      // font-family: "Nunito", sans-serif;
      font-weight: bold;
      border-radius: 5px;
      padding: 10px;
      padding-top: 15px;
      margin: 0 auto;
      // width: 50%;
      // background: white;
      text-align: center;
      // font-family: "Nunito", sans-serif;
      // font-weight: bold;
      font-size: 40px;
      color: $blue;
      // padding: 20px;
      text-align: center;
    }

    .middle-underline {
      position: absolute;
      bottom: 50px;
      margin-left: 87px;
    }
  }

  .middle-title {
    h3 {
      margin-top: 10px;
      margin-bottom: 10px;
      // font-size: 20px;
      color: rgb(80, 80, 80);
    }
  }

  .card-container {
    width: 90%;
    margin: 80px auto;

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    // grid-template-rows: auto;

    grid-template-areas:
      "one two three four"
      "one two three four"
      "nine ten ten eleven"
      "nine ten ten eleven"
      "nine ten ten five"
      "eight seven six five";

    // margin: 20px;
    // column-gap: 2%;
    // row-gap: 3%;
  }

  .card {
    margin: 7%;
    border-radius: 3px;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
    // max-height: 400px;

    .logo-span {
      padding: 10px;
      .logo-img {
        width: 30px;
        height: 30px;
      }
    }

    .card-text {
      font-size: 13px;
      color: black;
    }

    .card-title span {
      margin: 0 auto;

      // img {
      //   width: 30px;
      //   width: 30px;
      // }
    }

    h3 {
      // color: $red;
      text-decoration: none;
    }

    .card-img-top {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      width: 80%;
      padding: 15%;
      padding-bottom: 5px;
      // height: 60%;
      // padding: 20px;
      // height: 160px;
      // box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
    }
  }
  .text-content {
    width: 48%;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.2);
    padding: 60px 0;

    h3 {
      font-size: 4rem;
      color: $red;
      text-align: center;
    }

    p {
      color: $white;
      padding: 15px 0 0 0;
      font-size: 3rem;
      text-align: center;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  .img-content {
    width: 50%;

    img {
      border-radius: 1%;
      height: 100%;
      width: 80%;
      border: 2px solid $light-gray;

      filter: gray;
      -webkit-filter: grayscale(1);
      -webkit-transition: all 0.2s ease-in-out;

      &:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }

      @media (max-width: $tablet) {
        width: 100%;
      }

      @media (max-width: $mobile) {
        width: 420px;
      }
    }
  }

  .content-section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .content-section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 0;

    @media (max-width: $mobile) {
      margin: 20px 0;
    }

    .img-content {
      text-align: right;
    }
  }

  .content-section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

#profilecard {
  h3 {
    font-size: 24px;

    font-weight: bold;
    color: $red;
    font-family: "Nunito", sans-serif;
    // font-weight: bold;
  }
}
#profileimg {
  width: 40%;
  padding: 10px;
  box-shadow: none;
}

.profileimg-wrapper {
  background: #4b88a2;
  width: 100%;
  box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.img-wrapper {
  // background: $light-gray;
  width: 100%;
  // box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
}
