.top-content {
  background-color: white;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;

  .top-wrapper {
    padding: 5%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  h2 {
    padding-top: 40px;
    font-size: 3.5rem;
    color: $dark-black;
    text-align: center;
    font-weight: normal;

    @media (max-width: $mobile) {
      font-size: 2rem;
      font-weight: bolder;
    }
  }

  .top-circle {
    width: 125px;
    height: 125px;
    background: $snow;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50%;
  }

  .top-img {
    width: 80px;
    height: 80px;
  }

  .top-title {
    padding-top: 20px;
    font-family: "ProximaBold";
    font-size: 25px;
  }

  .top-text {
    color: #000;
    font-size: 14px;
    font-weight: lighter;
    padding: 10px 5% 10px 5%;
    line-height: 2rem;
    padding-bottom: 5px;

    .underline2 {
      display: inline-block;
      padding-bottom: 3px;
      background: url("../images/underline2.png");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 110% 11%;
    }
    .underline3 {
      display: inline-block;
      padding-bottom: 3px;
      background: url("../images/underline3.png");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100% 18%;
    }
    .underline4 {
      display: inline-block;
      padding-bottom: 3px;
      background: url("../images/underline4.png");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100% 18%;
    }
  }

  .top-btn {
    margin-bottom: 40px;
    margin-top: 20px;
    .top-btn1 {
      text-transform: uppercase;
      width: 250px;
      height: 60px;
      padding: 1.2% 3.5%;
      background: firebrick;
      color: $white;
      font-size: 1.6rem;
      font-family: "Nunito", sans-serif;
      font-weight: bold;
      text-align: center;
      margin: 0 auto;
      border: none;
      border-radius: 5px;
    }
  }
}

#create-img {
  margin-top: 5px;
}

#add-img {
  margin-top: 3px;
}
#share-img {
  margin-top: -2px;
}
